/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

button {
	border-radius: 5px;
	border: 2px solid #333;
	background: white;
	padding: 5px;
}

button:hover {
	background: lightcoral;
	color: white;
	cursor: pointer;
}

button:disabled:hover {
	background: white;
	color: #1010104d;
	cursor: not-allowed;
}

html {
	/* background: rgb(255, 255, 255);
	background: linear-gradient(95deg, rgba(255, 255, 255, 1) 75%, rgba(14, 75, 60, 1) 100%); */
}
.ProseMirror {
	margin-top: 20px;
	margin-left: 20px;
	width: calc(100% - 40px);
	padding: 8px;
	line-height: 1.5;
}
.ProseMirror:focus {
	outline: none;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
a {
	cursor: pointer;
	color: lightcoral;
}
